<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <img class="img" src="<%= books.image_url %>" alt="">  
        <p id="text"><%= books.author %> </p>  
        <p id="text"><%= books.title %></p>
        <p id="text"><%= books.isbn%></p>
        <p id="text"><%= books.book_description%></p>
        <p id="text"><%= books.bookshelf%></p>
    </main>
    
</body>
</html>