<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
</head>
<body>
    <%- include ('../layout/header.ejs') %>
    <main id="indexmain">
        <h2><%=books.length%> Saved Books</h2>
        <ul>
            <!-- <%console.log(books.length)%> -->
            <% books.forEach(val => { %>
                <%console.log(val.author)%>
                <img class="img" src="<%= val.image_url %>" alt="">  
                <p id="text"><%= val.author %> </p>  
                <p id="text"><%= val.title %></p>
                <form action="detail/<%=val.id%>">
                    <button>Show Detals</button>
                </form>
         <% })%>
        </ul> 
    </main>
    <%- include ('../layout/footer.ejs') %>
</body>
</html>